name: Release

on:
  push:
    tags:
      - VM*

jobs:
  build:
    strategy:
      matrix:
        board: [beagleconnect_freedom]
    name: Build Artifacts - MicroBlocks stable for ${{ matrix.board }}
    runs-on: ubuntu-22.04
    env:
      OS_LIST_DESC: "MicroBlocks is a blocks programming language for physical computing inspired by Scratch."
      OS_LIST_ICON: "https://media.githubusercontent.com/media/beagleboard/bb-imager-rs/refs/heads/main/assets/os/microblocks.svg"
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        path: microblocks

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.11

    - name: Setup Zephyr project
      uses: zephyrproject-rtos/action-zephyr-setup@v1
      with:
        app-path: microblocks
        toolchains: arm-zephyr-eabi
        manifest-file-name: west_stable.yml

    - name: Fetch blobs
      run: west blobs fetch -a

    - name: Build firmware
      run: west build -p -b ${{ matrix.board }} microblocks -d build

    - name: Rename firmware
      run: |
        VM=$(cat modules/microblocks/gp/runtime/versions | grep VM | awk '{print $2}')
        BIN_NAME=microblocks_${{ matrix.board }}_${VM}.bin
        mv build/zephyr/zephyr.bin $BIN_NAME
        xz -z $BIN_NAME

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        generate_release_notes: true
        files: microblocks_*.bin.xz

    - name: Generate OS List
      run: |
        export VM=$(cat modules/microblocks/gp/runtime/versions | grep VM | awk '{print $2}')
        BIN_NAME=microblocks_${{ matrix.board }}_${VM}.bin.xz
        export OS_LIST_NAME="MicroBlocks VM${VM}"
        export URL="https://github.com/beagleboard/microblocks-zephyr/releases/download/VM${VM}/microblocks_${{ matrix.board }}_${VM}.bin"
        export SHA=$(sha256sum ${BIN_NAME} | cut -d " " -f 1)
        export RELEASE_DATE=$(date +"%Y-%m-%d")
        export DEVICE=$(echo ${{ matrix.board }} | sed "s/_/-/g")
        EXTRACT_SIZE=$(xz --robot --list ${BIN_NAME} | awk 'END {print $5}')
        jq -n --argjson extract_size $EXTRACT_SIZE '[ .name = env.OS_LIST_NAME | .description = env.OS_LIST_DESC | .icon = env.OS_LIST_ICON | .devices = [ env.DEVICE ] | .tags = [ "education" ] | .url = env.URL | .image_download_sha256 = env.SHA | .release_date = env.RELEASE_DATE | .extract_size = $extract_size ]' > os_list_stable.json

    - name: OS List Generation
      uses: softprops/action-gh-release@v2
      with:
        prerelease: true
        name: OS List File
        tag_name: os-list
        body: OS List Files for use with BeagleBoard Imaging Utility
        files: os_list_stable.json
